.App {
  transition: background-color 0.3s ease;
  font-family: system-ui, -apple-system, Roboto;
  min-height: 100vh;
  min-width: 100vw;
}

.togglebutton {
  border-radius: 5px;
}

.togglebutton {
  border-radius: 5px rgb(250, 0, 0);
}

.dark-mode .navbar {
  background-color: #212529;
  color: #f8f9fa;
}
.dark-mode .card {
  background-color: #212529;
  color: #f8f9fa;
}

.light-mode {
  background-color: #f8f9fa;
  color: #212529;
}

.dark-mode {
  background-color: #343a40;
  color: #f8f9fa;
}

.card {
  background-color: inherit;
  color: inherit;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

.card-column {
  flex: 1 1 20%;
  margin: 10px;
}

.card {
  background-color: inherit;
  color: inherit;
  position: relative;
  transition: transform 0.3s ease;
  padding: 15px;
  border-radius: 10px;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 32px 34px rgba(15, 207, 197, 0.808);
}

/* .card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease;
  background-color: rgba(0, 0, 0, 0.5);
}

.card:hover::before {
  opacity: 1;
} */

.dark-mode .page-link {
  color: #fff;
  background-color: #222;
  border-color: #222;
}

.dark-mode .page-link:hover {
  color: #fff;
  background-color: #444;
  border-color: #444;
}

.dark-mode .page-item.active .page-link {
  background-color: #444;
  border-color: #444;
}

.dark-mode .page-item .page-link {
  color: rgba(15, 207, 197, 0.808);
}

.fixed-footer {
  /* position: fixed; */
  bottom: 0;
  width: 100%;
  text-align: center;
}
